{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 999999,
  "semi": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "none"
}
